/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/layouts/userPanelLayout.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.userPanelLayout_layout__Q2zIB {
  background: white;
  width: 100%;
  direction: rtl;
  height: auto;
  color: black;
}

.userPanelLayout_contents__ULyqb {
  width: 100%;
}
.userPanelLayout_section__7fcPA {
  display: flex;
}
.userPanelLayout_openBtn__0za59 {
  z-index: 1000 !important;
}
.userPanelLayout_openBtnOpacity__fBwZB{
  animation: userPanelLayout_btnAnimation__jnZ6T  3s .01s;
}

@keyframes userPanelLayout_btnAnimation__jnZ6T {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/modules/p-user/sidebar.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.sidebar_sidebar__X0O_v {
  width:50%;
  height: 100vh;
  background-color: #c0aa83;
  color: white;
  padding: 10px;
  position: absolute;
  z-index: 999;
  top: 0;
  transition: all .6s;
}

.sidebar_sidebar_header__nAO0Z {
  text-align: center;
  margin-top: 0.8rem;
  padding-bottom: 23px;
  border-bottom: 1px solid white;
}

.sidebar_sidebar_main__fH3Zj {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 30px 10px;
}

.sidebar_sidebar_main__fH3Zj a {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 18px;
  opacity: 0.7;
}

.sidebar_sidebar_link_active__aKM4z {
  opacity: 1 !important;
}

.sidebar_logout__7mLz0 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  max-width: 0 auto;
  width: 90%;
  padding-top: 9px;
  font-size: 1.3rem;
  border-top: 2px solid white;
}

@media screen and (min-width: 772px) {
  .sidebar_sidebar__X0O_v {
    position: sticky;
    width: 350px;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/react-toastify/dist/ReactToastify.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
  --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
  --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
  --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-toast-bd-radius: 6px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-progress-bgo: 0.2;
}

.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index));
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-left {
  top: var(--toastify-toast-top);
  left: var(--toastify-toast-left);
}
.Toastify__toast-container--top-center {
  top: var(--toastify-toast-top);
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--top-right {
  top: var(--toastify-toast-top);
  right: var(--toastify-toast-right);
}
.Toastify__toast-container--bottom-left {
  bottom: var(--toastify-toast-bottom);
  left: var(--toastify-toast-left);
}
.Toastify__toast-container--bottom-center {
  bottom: var(--toastify-toast-bottom);
  left: 50%;
  transform: translateX(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: var(--toastify-toast-bottom);
  right: var(--toastify-toast-right);
}

@media only screen and (max-width : 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: env(safe-area-inset-left);
    margin: 0;
  }
  .Toastify__toast-container--top-left, .Toastify__toast-container--top-center, .Toastify__toast-container--top-right {
    top: env(safe-area-inset-top);
    transform: translateX(0);
  }
  .Toastify__toast-container--bottom-left, .Toastify__toast-container--bottom-center, .Toastify__toast-container--bottom-right {
    bottom: env(safe-area-inset-bottom);
    transform: translateX(0);
  }
  .Toastify__toast-container--rtl {
    right: env(safe-area-inset-right);
    left: initial;
  }
}
.Toastify__toast {
  --y: 0;
  position: relative;
  touch-action: none;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: var(--toastify-toast-bd-radius);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  /* webkit only issue #791 */
  z-index: 0;
  overflow: hidden;
}
.Toastify__toast--stacked {
  position: absolute;
  width: 100%;
  transform: translate3d(0, var(--y), 0) scale(var(--s));
  transition: transform 0.3s;
}
.Toastify__toast--stacked[data-collapsed] .Toastify__toast-body, .Toastify__toast--stacked[data-collapsed] .Toastify__close-button {
  transition: opacity 0.1s;
}
.Toastify__toast--stacked[data-collapsed=false] {
  overflow: visible;
}
.Toastify__toast--stacked[data-collapsed=true]:not(:last-child) > * {
  opacity: 0;
}
.Toastify__toast--stacked:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: calc(var(--g) * 1px);
  bottom: 100%;
}
.Toastify__toast--stacked[data-pos=top] {
  top: 0;
}
.Toastify__toast--stacked[data-pos=bot] {
  bottom: 0;
}
.Toastify__toast--stacked[data-pos=bot].Toastify__toast--stacked:before {
  transform-origin: top;
}
.Toastify__toast--stacked[data-pos=top].Toastify__toast--stacked:before {
  transform-origin: bottom;
}
.Toastify__toast--stacked:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transform: scaleY(3);
  z-index: -1;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast--close-on-click {
  cursor: pointer;
}
.Toastify__toast-body {
  margin: auto 0;
  flex: 1 1 auto;
  padding: 6px;
  display: flex;
  align-items: center;
}
.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: 1;
}
.Toastify__toast-icon {
  margin-inline-end: 10px;
  width: 20px;
  flex-shrink: 0;
  display: flex;
}

.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.5s;
}

.Toastify--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}

@media only screen and (max-width : 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.Toastify__toast-theme--dark {
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
}
.Toastify__toast-theme--light {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--default {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  color: var(--toastify-text-color-info);
  background: var(--toastify-color-info);
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  color: var(--toastify-text-color-warning);
  background: var(--toastify-color-warning);
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  color: var(--toastify-text-color-error);
  background: var(--toastify-color-error);
}

.Toastify__progress-bar-theme--light {
  background: var(--toastify-color-progress-light);
}
.Toastify__progress-bar-theme--dark {
  background: var(--toastify-color-progress-dark);
}
.Toastify__progress-bar--info {
  background: var(--toastify-color-progress-info);
}
.Toastify__progress-bar--success {
  background: var(--toastify-color-progress-success);
}
.Toastify__progress-bar--warning {
  background: var(--toastify-color-progress-warning);
}
.Toastify__progress-bar--error {
  background: var(--toastify-color-progress-error);
}
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--success, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: var(--toastify-color-transparent);
}

.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  align-self: flex-start;
  z-index: 1;
}
.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover, .Toastify__close-button:focus {
  opacity: 1;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--toastify-z-index);
  opacity: 0.7;
  transform-origin: left;
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--wrp {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-bottom-left-radius: var(--toastify-toast-bd-radius);
}
.Toastify__progress-bar--wrp[data-hidden=true] {
  opacity: 0;
}
.Toastify__progress-bar--bg {
  opacity: var(--toastify-color-progress-bgo);
  width: 100%;
  height: 100%;
}

.Toastify__spinner {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color-empty-area);
  border-right-color: var(--toastify-spinner-color);
  animation: Toastify__spin 0.65s linear infinite;
}

@keyframes Toastify__bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, var(--y), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, var(--y), 0);
  }
}
@keyframes Toastify__bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, var(--y), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, var(--y), 0);
  }
}
@keyframes Toastify__bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, calc(var(--y) - 10px), 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, calc(var(--y) + 20px), 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left, .Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right, .Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}

.Toastify__bounce-exit--top-left, .Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right, .Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}

@keyframes Toastify__zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes Toastify__zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}

.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}

@keyframes Toastify__flipIn {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes Toastify__flipOut {
  from {
    transform: translate3d(0, var(--y), 0) perspective(400px);
  }
  30% {
    transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: translate3d(0, var(--y), 0) perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}

.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}

@keyframes Toastify__slideInRight {
  from {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInLeft {
  from {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInUp {
  from {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideInDown {
  from {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, var(--y), 0);
  }
}
@keyframes Toastify__slideOutRight {
  from {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, var(--y), 0);
  }
}
@keyframes Toastify__slideOutLeft {
  from {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, var(--y), 0);
  }
}
@keyframes Toastify__slideOutDown {
  from {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  from {
    transform: translate3d(0, var(--y), 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left, .Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right, .Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}

.Toastify__slide-exit--top-left, .Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--top-right, .Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes Toastify__spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=ReactToastify.css.map */
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/modules/p-user/topbar.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.topbar_topbar__QHUDN {
  width: 100%;
  background-color: rgb(17, 17, 17);
  height: 70px;
  padding: 5px 20px;
  display: flex;
  color: white;
  justify-content: space-between;
  border-bottom: 4px solid #c0aa83;
}
.topbar_topbar__QHUDN section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.topbar_profile__dG3uk {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row-reverse;
}
.topbar_profile__dG3uk img {
  width: 50px;
  border-radius: 100%;
}
.topbar_profile__dG3uk span {
  font-size: 14px;
  color: rgb(144, 131, 131);
}
.topbar_searchBox__mVL8n {
  position: relative;
}
.topbar_searchBox__mVL8n input {
  background: white;
  padding: 10px 10px;
  border-radius: 20px;
  width: 300px;
}
.topbar_searchBox__mVL8n div {
  background-color: #c0aa83;
  color: white;
  position: absolute;
  left: 5px;
  display: flex;
  align-items: center;
  height: 34px;
  font-size: 1.5rem;
  top: 4px;
  border-radius: 100%;
  padding: 0px 5px;
}
.topbar_searchBox__mVL8n svg,
.topbar_notification___tuCA svg {
  position: relative;
  bottom: 1px;
  cursor: pointer;
}
.topbar_notification___tuCA {
  background-color: #c0aa83;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  height: 34px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 20%;
  padding: 0px 5px;
}
.topbar_notification___tuCA span {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: white;
  color: #c0aa83;
  font-size: 9px;
  padding: 1px 3px 0 3.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 100%;
}

.topbar_notifications_box__XO3Yx div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.topbar_notifications_box__XO3Yx button {
  background: blue;
  color: white;
  padding: 0.5rem 0.7rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.topbar_notifications_box__XO3Yx p,
.topbar_notifications_box__XO3Yx svg {
  cursor: pointer;
}
.topbar_notifications_box__XO3Yx {
  background-color: #c0aa83;
  width: 300px;
  border-radius: 8px;
  padding: 15px 10px;
  color: white;
  display: flex;
  gap: 10px;
  align-items: top;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 9999;
}
.topbar_notifications_overlay__hlVRl {
  background: rgba(0, 0, 0, 0.389);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
}
.topbar_modal_text__Er2pB {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/modules/p-user/modal.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.modal_modal_main__7iZzW {
  width: 600px;
  margin: 150px auto;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  z-index: 999;
  height: -moz-fit-content;
  height: fit-content;
}
.modal_modal_main__7iZzW svg {
  cursor: pointer;
}
.modal_modal__agSwL {
  position: relative;
  padding: 1rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
}
.modal_modal_overlay__tX4BM {
  background: rgba(0, 0, 0, 0.389);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
}
.modal_modal_header__hb5mq {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.277);
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/p-user/index.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.p-user_boxes__mVs9H {
  gap: 20px;
  margin-top: 3rem;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
}

.p-user_contents__wM2fD {
  padding: 40px;
  gap: 10px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/modules/infoBox/infoBox.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.infoBox_box__Ermcm div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoBox_box__Ermcm {
  border-radius: 5px;
  padding: 1rem;
  border: 2px solid #c0aa83;
  position: relative;
  width: 270px;
  margin: 0 auto;
}
.infoBox_box_chart_icon__ACkyZ {
  color: #c0aa83;
  font-size: 2.5rem;
}
.infoBox_box__Ermcm p::after {
  content: "";
  position: relative;
  height: 2px;
  top: 6px;
  display: block;
  background-color: #c0aa83;
  width: 80%;
}
.infoBox_box__Ermcm p::before {
  content: "";
  position: relative;
  height: 2px;
  top: 40px;
  display: block;
  background-color: #c0aa83;
  width: 58%;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/templates/p-user/index/ticket.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.ticket_ticket__wU8Av {
  width: 100%;
  border-right: 3px solid #c0aa83;
  padding: 1rem;
  background-color: #c0aa8321;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: 1rem auto;
  height: 110px;
  align-items: center;
}

.ticket_department__wMCs8 {
  padding: 0.5rem;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  background: white;
}
.ticket_ticket__wU8Av div {
  text-align: center;
}

.ticket_no_answer__WvZWM {
  background-color: #c0aa83;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
}
.ticket_answer__xQ6Sn {
  background-color: #ffffff;
  color: #c0aa83;
  border-radius: 5px;
  padding: 0.5rem;
}
.ticket_ticket__wU8Av div {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
}
.ticket_ticket__wU8Av div:nth-child(2) {
  padding-top: 0.5rem;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/templates/p-user/index/tickets.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.tickets_content_details__fbjTm {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #c0aa83;
}

.tickets_content__uIIdq {
  background-color: #c0aa830f;
  width: 50%;
  color: rgb(0, 0, 0);
  padding: 0px 15px;
  border-radius: 5px;
}

.tickets_content_details__fbjTm a svg {
  color: #c0aa83;
}

.tickets_content_details__fbjTm a {
  display: flex;
  align-items: center;
  gap: 9px;
}

.tickets_content__uIIdq:nth-child(1) a:not(.tickets_content_details__fbjTm *) {
  background: #c0aa83 !important;
  border-right-color: white;
  color: white;
}

.tickets_content__uIIdq:nth-child(1) a div:nth-child(1) p:nth-child(2) {
  color: #c0aa83;
}
.tickets_empty__W0Wbl {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 9rem 0 12.5rem 0;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/templates/p-user/index/orders.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.orders_content_details__ldGEo {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #c0aa83;
}

.orders_content__gFVyH {
  background-color: #c0aa830f;
  width: 50%;
  color: rgb(0, 0, 0);
  padding: 0px 15px;
  border-radius: 5px;
}

.orders_content_details__ldGEo a svg {
  color: #c0aa83;
}

.orders_content_details__ldGEo a {
  display: flex;
  align-items: center;
  gap: 9px;
}

.orders_content__gFVyH:nth-child(1) a:not(.orders_content_details__ldGEo *) {
  background: #c0aa83 !important;
  border-right-color: white;
  color: white;
}

.orders_content__gFVyH:nth-child(1) a div:nth-child(1) p:nth-child(2) {
  color: #c0aa83;
}
.orders_empty__FITH2 {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  padding: 9rem 0 12.5rem 0;
}

