/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/styles/BreadCrumb/BreadCrumb.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.BreadCrumb_breadcrumb_bg__BUjGJ{
    min-height:30vh;
    max-height:35vh;
    height:100vh;
    padding:0.5rem;
    background-image:url("/images/inner_parallax.jpg") ;
    background-size:cover;
    background-position: center;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/templates/search/SearchArticle.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.SearchArticle_search_content_button__gLkem{
  padding: 0.4rem;
  border-radius: 0.4rem;
  width: 150px;
  text-align: center;
  display: inline-block;
  background-color: #fff;
  transition: all 0.3s;
}
.SearchArticle_search_content_button__gLkem:hover{
    background-color:#ddd;
}
.SearchArticle_empty__2bzsZ {
    color: white;
    background-color: #c0aa83;
    padding: 0.7rem 2rem;
    width: -moz-max-content;
    width: max-content;
    margin: 15rem auto;
    font-size: 1.7rem;
    border-radius: 5px;
  }
